:root {
  --primary-main: #0278d5;
  --gray-200: #d9dae5;
  --gray-800: #22222a;
  /* Module Colors/Continuous Delivery/300 */
  --mod-cd-300: #30841f;
  /* Module Colors/Continuous Delivery/200 */
  --mod-cd-200: #5fb34e;
  /* Module Colors/Continuous Delivery/100 */
  --mod-cd-100: #f6fff2;

  /* Module Colors/Cloud Development Environment/300 */
  --mod-cde-300: #1947ec;
  /* Module Colors/Cloud Development Environment/200 */
  --mod-cde-200: #2660ff;
  /* Module Colors/Cloud Development Environment/100 */
  --mod-cde-100: #ebefff;

  /* Module Colors/Continuous Verification/300 */
  --mod-cv-300: #30841f;
  /* Module Colors/Continuous Verification/200 */
  --mod-cv-200: #5fb34e;
  /* Module Colors/Continuous Verification/100 */
  --mod-cv-100: #f6fff2;

  /* Module Colors/Continuous Integration/300 */
  --mod-ci-300: #0672b6;
  /* Module Colors/Continuous Integration/200 */
  --mod-ci-200: #2bb1f2;
  /* Module Colors/Continuous Integration/100 */
  --mod-ci-100: #e2f5ff;

  /* Module Colors/Cloud Cost/300 */
  --mod-ccm-300: #24807f;
  /* Module Colors/Cloud Cost/200 */
  --mod-ccm-200: #01c9cc;
  /* Module Colors/Cloud Cost/100 */
  --mod-ccm-100: #ecffff;

  /* Module Colors/Feature Flags/300 */
  --mod-ff-300: #c05809;
  /* Module Colors/Feature Flags/200 */
  --mod-ff-200: #ee8625;
  /* Module Colors/Feature Flags/100 */
  --mod-ff-100: #fcf4e3;

  --mod-sto-300: #1947ec;
  /* Module Colors/STO/200 */
  --mod-sto-200: #2660ff;
  --mod-sto-100: #ebefff;

  --mod-srm-300: #6938c0;
  /* Module Colors/SRM/200 */
  --mod-srm-200: #8b73ce;
  --mod-srm-100: #f6f1ff;

  --mod-ce-300: #cd0056;
  /* Module Colors/Chaos Engineering/200 */
  --mod-ce-200: #ff006a;
  --mod-ce-100: #fff1f7;

  /* Module Colors/CET */
  --mod-cet-300: #c01406;
  --mod-cet-200: #ff5f45;
  --mod-cet-100: #ffe2dd;

  /* Module Colors/SEI */
  --mod-sei-300: #30841f;
  --mod-sei-200: #5fb34e;
  --mod-sei-100: #f6fff2;

  /* Module Colors/SSCA */
  --mod-ssca-300: #c01406;
  --mod-ssca-200: #ff5f45;
  --mod-ssca-100: #ffe2dd;

  /* Module Colors/IDP */
  --mod-idp-300: #24807f;
  --mod-idp-200: #01c9cc;
  --mod-idp-100: #ecffff;

  /* Module Colors/IaCM */
  --mod-iacm-300: #30841f;
  --mod-iacm-200: #5fb34e;
  --mod-iacm-100: #f6fff2;

  /* Module Colors/Code  */
  --mod-code-300: #0672b6;
  --mod-code-200: #2bb1f2;
  --mod-code-100: #e2f5ff;

  /* Module Colors/opensource */
  --mod-opensource-300: #b0b1c4;
  --mod-opensource-200: #d9dae5;
  --mod-opensource-100: #f3f3fa;
}
/***************** modal **********************/
body {
  background-color: black;
  display: flex;
  justify-content: center;
}
.search-box-modal {
  position: relative;
  width: 811px;
  height: 372px;
  padding: 40px;
  gap: 16px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #202020;
  background-color: #707070;
  background: #ffffff12;
  backdrop-filter: blur(200px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}
.fa-xmark {
  position: absolute;
  top: 16px;
  right: 40px;
  color: #808080;
  height: 16px;
  width: 16px;
}
atomic-search-interface {
  max-height: 100px;
  max-width: 100% !important;
 
}
atomic-layout-section {
  min-width: 100%;
  max-height: 100px;
}
atomic-search-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
atomic-search-box::part(wrapper) {
  height: 40px;
  padding: 8px 16px;
  border-radius: 40px;
  background: #ffffff12;

  border: 2px solid #00ade4;
}
atomic-search-box::part(submit-button) {
  background: transparent;
  height: 24px;
  width: 24px;
  color: white;
}
atomic-search-box::part(textarea),
atomic-search-box::part(query-suggestion-text) {
  color: white;
}
atomic-search-box::part(
    active-suggestion suggestion-with-query query-suggestion-item
  ) {
  background-color: #00ade4;
}
atomic-search-box::part(suggestion) {
  border-bottom: 0.05px solid #ffffff12;
}
atomic-search-box::part(
    active-suggestion suggestion-with-query query-suggestion-item
  ):hover {
  background-color: #00ade4;
}

atomic-search-box::part(suggestions-wrapper suggestions-single-list) {
  margin-top: 4px;
  background-color: #232323;
}
.search-box-products {
  padding-left: 24px;
}
.search-box-products > p {
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 16.44px;
  letter-spacing: -0.02em;
  text-align: left;
}

.tag {
  height: 28px;
  padding: 6px 12px 6px 12px;
  gap: 4px;
  border-radius: 20px;
  border: 1px solid #ffffff2b;
  color: white;
  text-decoration: none;

  font-size: 12px;
  font-weight: 500;
  line-height: 16.44px;
  letter-spacing: -0.02em;
  text-align: left;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}
.tag:hover {
  border-color: var(--primary-main);
}
.search-box-continuous-delivery::before {
  content: url('https://cdn.jsdelivr.net/gh/rohanmaharjan100/cdn/icon_cd_s.svg');
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.search-box-continuous-delivery:hover {
  border-color: var(--mod-cd-300);
}
.search-box-continuous-integration::before {
  content: url('https://cdn.jsdelivr.net/gh/rohanmaharjan100/cdn/icon_ci_s.svg');
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.search-box-continuous-integration:hover {
  border-color: var(--mod-ci-300);
}
.search-box-code-repository::before {
  content: url('https://cdn.jsdelivr.net/gh/rohanmaharjan100/cdn/icon_code_s.svg');
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.search-box-code-repository:hover {
  border-color: var(--mod-code-300);
}
